@model DesafioWebMotors.Application.Models.AnuncioWebMotors

@{
    ViewData["Title"] = "Create";
}

<h4>Criar um anúncio</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Marca" class="control-label"></label>
                    <select asp-for="Marca" asp-items="@ViewBag.Marcas" class="form-control"></select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Modelo" class="control-label"></label>
                    <select asp-for="Modelo" asp-items="@ViewBag.Modelos" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Versao" class="control-label"></label>
                <select asp-for="Versao" asp-items="@ViewBag.Versoes" class="form-control"></select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Ano" class="control-label"></label>
                    <input asp-for="Ano" class="form-control" />
                    <span asp-validation-for="Ano" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Quilometragem" class="control-label"></label>
                    <input asp-for="Quilometragem" class="form-control" />
                    <span asp-validation-for="Quilometragem" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Salvar Anúncio" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Ver meus anúncios</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $("#Marca").change(function () {
        CarregaModelos();
        CarregaVersoes();
    });

    $("#Modelo").change(function () {
        CarregaVersoes();
    });

    function CarregaModelos() {
        var idDaMarca = $("#Marca").val();

        $.ajax({
            url: "/Anuncio/CarregarModelos",
            data: { idDaMarca: idDaMarca },
            type: "post",
            dataType: "json",
            success: function (items) {
                var modelos = '';
                $.each(items, function (i, item){
                    modelos += "<option value='" + item.value + "'>" + item.text + "</option>";
                });

                $("#Modelo").html(modelos);
            }
        });
    }

    function CarregaVersoes() {
        var idDoModelo = $("#Modelo").val();

        $.ajax({
            url: "/Anuncio/CarregarVersoes",
            data: { idDoModelo: idDoModelo },
            type: "post",
            dataType: "json",
            success: function (items) {
                var versoes = '';
                $.each(items, function (i, item){
                    versoes += "<option value='" + item.value + "'>" + item.text + "</option>";
                });

                $("#Versao").html(versoes);
            }
        });
    }
</script>