@model DesafioWebMotors.Application.Models.AnuncioWebMotors

@{
    ViewData["Title"] = "Create";
}

<h4>Criar um anúncio</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Modelo" class="control-label"></label>
                    <input asp-for="Modelo" class="form-control" />
                    <span asp-validation-for="Modelo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Versao" class="control-label"></label>
                    <input asp-for="Versao" class="form-control" />
                    <span asp-validation-for="Versao" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Quilometragem" class="control-label"></label>
                <input asp-for="Quilometragem" class="form-control" />
                <span asp-validation-for="Quilometragem" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Salvar Anúncio" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Ver meus anúncios</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

